table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  width: 100%;
}
table, tr, td, dl, dt, dd {
  margin: 0;
  padding: 0;
}
td {
  border: 1px solid #666;
  border-bottom: 1px solid #666;
}
dt {
  display: inline-block;
  width: 13%;
  padding: 5px 2px;
}
dt.col4, dt.col5, dt.col6, dt.col7 {
  text-align: right;
}
dt.col7 {
  width: 10%;
}
tr {
  background-color: #f8f8f8;
}
tr.thead {
  background-color: #ccc;
}

.sortable-column span {
	background: transparent url(sdl-sorter.png) no-repeat scroll right center;
	padding:0 8px 0 0;
}

dd {
  display: none;
  width: 49%;
  height: 100px;
  background-color: #ffffff;
}
.asc {
  color: green;
}
.desc {
  color: red;
}
.active-column {
	background: yellow; 
}

div.sdl {
	font-size: 0.88em;
	text-align: right;
	margin: 12px 0;
}
div.sdl span {
	display: inline-block;
	margin: 0 2px;
}
div.sdl span.sdl-info {
	margin: 0 30px 0 0;
}
div.sdl span.sdl-matches,
div.sdl span.sdl-number-links {
	margin: 0;
}
div.sdl span.active-page {
  color: #FFFFFF;
  background: transparent url(sdl-disc.png) no-repeat scroll center center
}
div.sdl span.sdl-number-links span {
	height:17px;
	line-height:1;
	margin:0 10px 0 0;
	padding: 6px 0 0;
	text-align:center;
	width:17px;
}
